
    <footer class="footer">
        <div class="container-fluid">
            <nav class="float-left">
            <ul>
                <li>
                <a href="https://appseed.us/admin-dashboards/flask-dashboard-material-dark">
                    Flask Dashboard Material Dark
                </a>
                </li>
            </ul>
            </nav>
            <div class="copyright float-right" id="date">
            &copy; Creative Tim - Coded in Flask by <a href="https://appseed.us">AppSeed</a>.
            </div>
        </div>
    </footer>
