{% extends "base-site.html" %}

{% block title %} Login {% endblock %} 

{% block content %}

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Error 500</h4>
        </div>
        <div class="card-body">

            <p class="card-category">
                Server Error - Please try again later or contact support.
            </p>
        
            <div class="pull-left">
                <a class="btn btn-primary" href="/" >Home</a>
            </div>
            
        </div>
      </div>
    </div>
  </div>
        
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
